<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-xss {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px;
    height: 550px;
    margin-left: 300px;
    margin-top: 140px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container-xss .kiri {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-xss .kiri img {
    width: 300px;
}

.container-xss .kanan {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
    height: 600px;
    background-color: #f6f9ff;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    padding: 50px;
}

.container-xss .kanan .buddy {
    /* margin-top: 40px; */
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-xss .kanan .buddy img {
=======
.kanan {
    background-color: #f6f9ff;
}

 .kanan .buddy img {
>>>>>>> ab7026314dd9a7ad0d192162bfd3769b520eeede
    margin-right: 15px;
    width: 40px;
}

<<<<<<< HEAD
.container-xss .kanan .buddy span {
    font-weight: 600;
    font-size: 12px;
}

.container-xss .kanan .judul h1 {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 36px;
}
.container-xss .kanan .judul p{
    font-size: 12px;
}
.container-xss .kanan .judul a {
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
}

.container-xss .kanan .judul a:hover {
    text-decoration: underline;
}

.container-xss .kanan .form form {
    display: flex;
    flex-direction: column;
}

.container-xss .kanan .form form .box-password {
    position: relative;
}

.container-xss .kanan .form form .box-password span i {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

::placeholder {
    font-size: 12px;
}

.container-xss .kanan .form form label.email,
.container-xss .kanan .form form label.nama,
.container-xss .kanan .form form label.konPassword,
.container-xss .kanan .form form label.password {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.container-xss .kanan .form form span i {
    cursor: pointer;
}

.container-xss .kanan .form form button {
    margin-top: 25px;
    height: 30px;
    font-size: 12px;
}

@media only screen and (max-width: 425px) {
    body {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container-xss .kiri {
        display: none;
    }

    .container-xss .kanan {
        width: 350px;
        height: 600px;
    }
}

@media only screen and (max-width: 550px) {
    body {
        padding: 20px;
    }
    .container-xss .kiri {
        display: none;
    }

    .container-xss .kanan {
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .body {
        padding: 30px;
    }

    .container-xss .kiri {
        display: none;
    }

    .container-xss .kanan {
        padding: 20px;
    }
}

=======
.kanan .buddy span {
    font-weight: 600;
    font-size: 12px;
}

.lupa-password{
    display: flex;
    justify-content: end;
}

.boxLogin{
    height: 100%;
    align-items: center;
}

.judul {
    padding: 50px 0;
}
>>>>>>> ab7026314dd9a7ad0d192162bfd3769b520eeede
